<div class="animated fadeIn" ng-controller="mainController">

    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <div class="card card-inverse card-info">
                <div class="card-block pb-0">
                    <div class="btn-group pull-right">
                        <h2> 1000</h2>
                    </div>
                    <h4 class="mb-0"></h4>
                    <p>Total Seedlings Sold</p>
                </div>
                <div class="chart-wrapper px-1" style="height:30px;">

                </div>
            </div>
        </div>
        <!--/col-->

        <div class="col-sm-6 col-lg-4">
            <div class="card card-inverse card-success">
                <div class="card-block pb-0">
                    <div class=" pull-right">
                        <h2> 100</h2>
                    </div>
                    <h4 class="mb-0"></h4>
                    <p>Total Farmers Enrolled</p>
                </div>
                <div class="chart-wrapper px-1" style="height:30px;">

                </div>
            </div>
        </div>
        <!--/col-->



        <div class="col-sm-6 col-lg-4">
            <div class="card card-inverse" style="background-color: #66c4bc">
                <div class="card-block pb-0">
                    <div class=" pull-right">
                        <h2> 5000</h2>
                    </div>
                    <h4 class="mb-0"></h4>
                    <p>Total Amount </p>
                </div>
                <div class="chart-wrapper px-1" style="height:30px;">

                </div>
            </div>
        </div>



        <!--/col-->
    </div>
    <!--/row-->




</div>